<div class="container">
    <div class="">
        <form action="">
           <div class="mt-4">
           <p>valor:<input type="text" [ngModel]="texto">
           <p>{{texto}}</p>
           </div>
            <br>
           <div class="">
            <p>valor:<input type="number">
            <br>
            <div>
                 <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>selecione una moneda</option>
                    <option value="1">USD</option>
                    <option value="2">EUR</option>
                    <option value="3">GBP</option>
                    <option value="4">S/</option>
                  </select>
                </div>    
           </div>
        </form>
    </div>
</div>
